@model Kongre_Online_Mini.MVC.Models.OyTuru

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Sekreterya.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OyTuru</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OyTuruAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OyTuruAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OyTuruId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
