@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Sekreterya.cshtml";
}

<div class="jumbotron">
    <h1>Kongre Online ve Sosyal Medya</h1>
    <h2>Web Uygulaması</h2>
    <h2>Harun Altay</h2>
    <h3>2021 Şubat 12 Cuma</h3>

    <p></p>
    <p class="lead">Siyasi Partiler, Odalar, Vakıflar, Dernekler, Sivil Toplum Kuruluşları için düşünülmüştür.</p>
    <p class="lead">Düşünen, bu düşündüklerini tartışan, oylayan, seçim yapan, aday çıkaran ve oylayan her kuruluş için düşünülebilir.</p>
    <p class="lead">Bu bir mini versiyondur. Talep gelmesi üzerine devam edilmesi düşünülebilecektir.</p>

</div>

